<div class="container">
  <div class="d-flex justify-content-between align-items-end mt-2 col-sm-12 col-lg-8">
  <h1><%= @cocktail.name %></h1>
  <%= image_tag "https://source.unsplash.com/900x900/?#{@cocktail.name}", class: "avatar-xlarge" %>
  </div>
  <br>
  <table class="table table-bordered col-sm-12 col-lg-8 text-center">
    <thead>
      <tr>
          <th scope="col">Ingredients</th>
          <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @cocktail.doses.each do |dose| %>
        <tr>
            <th scope="row"><%= dose.ingredient.name %></th>
            <td><%= dose.quantity %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <br>
  <h3>Instructions</h3>
  <%= @cocktail.description %>
  <br><br>
  <%= link_to edit_cocktail_path do %>
    <button type="button" class="btn btn-outline-success col-sm-12 col-lg-8">Edit cocktail</button>
  <% end %>
  <br><br>
</div>

<%# #     Checkout simple_form docs about f.association to easily create a select dropdown for our list of ingredients. %>
